body {
    text-align:center;
    padding-top: 20px;
    background-color: #eee;
}
h1 {
    font-size: 60px;
}
a {
    margin-top:40px;
    text-align:center;
    text-decoration:none;
}
a div {
    width: 100%;
    height: 50px;
    line-height:50px;
    text-align: center;
    background-color: #22ac38;
    font-size: 22px;
    color: white;
    border-radius: 4px;
}
a.item div {
    width: 100%;
    height: 50px;
    background-color: #eee;
    border: 1px solid #22ac38;
    color: black;
}
.list {
    display: none;
}
